# this is a template file to configure ssh to do transparent proxy on a bastion host
# to use it :
#  > cp config_ssh.template config_ssh
#  configure USER and IdentityFile lines
# save and enjoy transparent proxy by using ssh_wrapper :)


Host bastion_host
  User USER
  Port 2222
  HostName bastion_hostname_or_ip
  IdentityFile PATH_TO_YOUR_PRIVATE_KEY
  ForwardAgent yes
  ProxyCommand none
  BatchMode yes

Host *
  User USER
  ProxyCommand ssh -F config_ssh -W %h:%p bastion_host


